<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhinmugen.afoisourla">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmployeesActivity"
            android:label="Διαχείρηση Εργαζομένων">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".RegisterEmployeeActivity"
            android:label="@string/title_activity_register_employee"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EmployeesActivity" />

        </activity>


        <activity
            android:name=".ManageEmployees"
            android:label="Εργαζόμενοι">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EmployeesActivity" />

        </activity>
        <activity
            android:name=".WorkingSiteActivity"
            android:label="@string/title_activity_working_site"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewWorkingPlace"
            android:label="Νέο Έργο">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WorkingSiteActivity" />
        </activity>
        <activity
            android:name=".NewManagerActivity"
            android:label="Υπεύθυνος Συνεργείου"></activity>
    </application>

</manifest>